@import '../vars';

.ProductItem {
	width: 220px;
	box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
	border-radius: 10px;
}
.ProductItem:hover > .product-info div p:nth-child(1) , .ProductItem:hover > .product-info div p:nth-child(2){
color: $--hospital-green;
}
.ProductItem img {
	width: 220px;
	height: 220px;
	border-radius: 20px;
	object-fit: cover;
}
.product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	padding: 10px;
}
.product-info-text{
	width: 40%;
}
.product-info figure {
	margin: 0;
	width: 30px;
	height: 30px;
}

.product-info div p:nth-child(1) {
	font-weight: bold;
	font-size: $--md;
	margin-top: 0;
	margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
	font-size: 10px;
	margin-top: 0;
	margin-bottom: 0;
	color: $--very-light-pink;
}
.add-to-cart-btn {
	box-shadow: $--very-light-pink 0px 0px 2px;
}

.disabled {
	cursor: not-allowed;
}

.ProductInfo-button{
	background: none;
	border: none;
	color: $--very-light-pink;
	font-weight: bold;
}

@media (max-width: 640px) {
	.cards-container {
		grid-template-columns: repeat(auto-fill, 140px);
		place-content: center;
	}
	.ProductItem {
		width: 130px;
	}
	.ProductItem img {
		width: 130px;
		height: 130px;
	}
}
