
$--white: #FFFFFF;
$--black: #000000;
$--very-light-pink: #C7C7C7;
$--text-input-field: #F7F7F7;
$--hospital-green: #85bf8c;
$--green: #7dd589;
$--red: #d86969;
$--sm: 14px;
$--md: 16px;
$--lg: 18px;
