@import './vars';

.Alert {
    display: flex;
    color: $--white;
    border-radius: 10px;
    background-color: $--hospital-green;
    justify-content: space-around;
    border: solid 1px $--green;
    font-size: 18px;
    align-items: center;
    position: fixed;
    bottom: 5px;
    z-index: 10;
    width: 95vw;
}
.Alert-button{
    background: none;
    border: none;
    color: $--white;
    font-size: 18px;
}