@import 'vars';

.Dashboard {
    margin-top: 11vh;
    padding: 10px;
}
.Dashboard h2 {
    color: $--green;
}

.Dashboard-List-Item{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    margin: 20px 0px 20px 0px;
    padding: 5px;
    justify-content: space-around;
    border-radius: 7px;
}
.Dashboard-List-Item span{
  color: $--very-light-pink;
  font-weight: bolder;
}