@import './vars';

.FormProduct{
    padding: 20px;
}

.FormProduct form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.FormProduct form input, .FormProduct form select {
    margin-bottom: 30px;
    padding: 5px;
    background-color: $--text-input-field;
	border: solid 1px $--very-light-pink;
	border-radius: 8px;
	height: 30px;
	font-size: $--md;
	padding: 6px;
	margin-bottom: 12px;
    outline: none;
}

.FormProduct form option {
    font-size: 10px;
}

.FormProduct form label {
	font-size: $--sm;
	font-weight: bold;
	margin-bottom: 10px;
}

.FormProduct form textarea {
    margin-bottom: 30px;
    padding: 5px;
    background-color: $--text-input-field;
	border: none;
	border-radius: 8px;
	min-height: 120px;
    max-height: 200px;
	font-size: $--md;
	padding: 6px;
	margin-bottom: 12px;
    outline: none;
    min-width: 100%;
    max-width: 100%;

}

.FormProduct-button {
    border: none;
    background-color: $--hospital-green;
    padding: 10px 18px 10px 18px;
    color: $--white;
    border-radius: 5px;
}