@import "vars";

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid $--very-light-pink;
  position: fixed;
  top: 0;
  background: white;
  width: calc(100% - 50px);
  z-index: 12;
  width: 100%;
  align-items: center;
  height: 10vh;
  box-shadow: 0px 10px 25px -3px rgba(0,0,0,0.1);
}
.nav li{
  cursor: pointer;
}
.menu {
  display: none;
}

.nav-logo {
  width: auto;
  color: $--hospital-green;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: auto;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: $--very-light-pink;
  border: 1px solid $--white;
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid $--hospital-green;
  color: $--hospital-green;
}
.navbar-right ul{
  color: $--hospital-green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vh;
}
.navbar-right ul li{
  color: $--very-light-pink;
}
.navbar-right ul li:hover{
  color: $--hospital-green;
}
.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: $--hospital-green;
  border-radius: 50%;
  font-size: $--sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $--white;
}

.search {
  margin-left: 10px;
}
.search input{
  padding: 5px;
  border-radius: 7px;
  border: none;
  background-color: $--text-input-field;
  outline: 1px solid $--very-light-pink;
  font-size: 16px;
  color: $--very-light-pink;
  width: 30vw;
}

@media (max-width: 1000px) {
  .menu {
    display: block;
    background: none;
    border: none;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .navbar-right ul{
    width: 8vw;
  }
  .search input{
    font-size: 14px;
  }
  .Login{
white-space: nowrap;
  }
}
