@import 'vars';

.Menu {
	width: 20vw;
	padding: 24px;
	box-sizing: border-box;
	position: fixed;
	right: 0;
	background-color: rgba(255, 255, 255, 0.95);
	top: 10vh;
	bottom: 65vh;
	border: 1px solid $--very-light-pink;
	z-index: 19;
	box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
	height: 25vh;
}

.Menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.Menu ul li {
	text-align: end;
}

.Menu ul li:nth-child(1),
.Menu ul li:nth-child(2) {
	font-weight: bold;
}

.Menu ul li:last-child {
	padding-top: 20px;
	border-top: 1px solid $--very-light-pink;
}

.Menu ul li:last-child a {
	color: $--very-light-pink;
	font-size: 16px;
}
.Menu ul li:last-child a:hover{
	color: rgb(255, 85, 85);
}

.Menu ul li a {
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
	font-size: 16px;
	color: $--hospital-green;
}

.Menu ul li button{
border: none;
font-size: $--sm;
background: none;
}

@media (max-width: 1000px) {
	.Menu {
	  width: 100%;
	  height: 90vh;
	}

	.Menu ul li {
	text-align: center;
}
	.Menu ul li a{
font-size: 22px;
margin: 20px 0px 30px 0px;
	} 

  }
  