@import 'vars';

.ProductInfo {
	margin: 15vh 24px 0 24px;
	display: flex;
	border-radius: 15px;
	box-shadow: 0px 10px 25px -3px rgba(0,0,0,0.1);
}
.ProductInfo img {
	border-radius: 15px;
}
.ProductDetails{
	padding: 10px;
}
.ProductDetails p {
color: $--very-light-pink;
}

.ProductButtons{
	display: flex;
	justify-content: space-between;
}

.primary-button {
	background-color: $--hospital-green;
	border-radius: 8px;
	border: none;
	color: $--white;
	cursor: pointer;
	font-size: $--md;
	font-weight: bold;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-to-cart-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.Exit{
	color: $--very-light-pink;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 20px 0px 20px ;
	border-radius: 5px;
	border: solid 1px $--very-light-pink;
}

.Exit:hover{
	background-color: $--very-light-pink;
	color: $--white;
	border: none;
}

.Loading {
	margin-top: 10vh;
}

@media (max-width: 800px) {
	.ProductInfo {
	  flex-wrap: wrap;
	}
  }